.view-selection {
  margin: 0 5px;
  button { 
    margin: 5px;
    div {
      padding: 5px 20px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#head {
  border-bottom: 1px outset #ccc;
  // add a shadow
  box-shadow: 0px 0px 5px #ccc;
  margin-bottom: 5px;
}