@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

@import "~webext-base-css/webext-base.css";

.options {
  height: 500px;
  width: 350px;
  overflow-y: scroll;
}

.alt-list-item {
  padding: 10px 0;
  h3 {
    @media (prefer-color-scheme: dark) {
      color: #fff !important;
    }
  }
}