.alt-account-list {
  border: 2px outset #ccc;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 5px;

  @media (prefer-color-scheme: dark) {
    border: 2px outset #333;
  }
    

  .alt-list-item {

    border: #ccc 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 5px 0;
    padding: 5px 0;
  }
}